set_io input_clk         35
set_io reset             19

set_io spi_cs            11
set_io spi_mosi          9

dac_out                  28

set_io RED_LED           41
set_io BLUE_LED          40
set_io GREEN_LED         39